@font-face {
    font-family: 'Padaloma';
    src: url('./padaloma.ttf') format('truetype');
    font-weight:    normal;
    font-style: normal;
}

::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Padaloma';

}

body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;

  background-image: url("https://www.88kitten.com/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  background-color: #F2DF58;
  justify-content: center;
  position: relative;
}


button {
    font-size: 1.8em;
    padding: 30px 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: "Ms Gothic", "sans serif";
    transform: scale(0.9);
    font-weight: 900;
    animation: pulse 0.7s infinite;
    border: none black;
    background-color: #C0C0C0;
    border: 3px solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@media screen and (max-width:450px) {
    button {
        font-size: 1.2em;
        padding: 20px 20px;
    }
    
}